/* Importando as cores do arquivo var.css */
@import "./var.css";
/* Definindo o estilo da página principal (App) */
.App {
  background-color: var(--color-bg);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
